@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-body text-neutral-800 bg-white antialiased m-0;
  }
  h1, h2, h3, h4 {
    @apply font-heading;
  }
}

@layer components {
  .section-padding {
    @apply py-16 md:py-20 lg:py-24 px-4 md:px-8 lg:px-16;
  }
  .container-custom {
    @apply max-w-7xl mx-auto;
  }
  .gradient-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(135deg, #382e27, #e07830);
  }
}
